

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary: #4978F0;
    --primary-light: #E1EEF5;
    --secondary: #1D1D1D;
    --background: #F4F1FF;
    --text: #1F2346;
}

body {
    font-size: 16px;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
ul {
    border: 10px black;
}