{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style %}
{% endblock style %}
{% block content %}
<h1 > Welcome {% if request.user.last_name %}{{request.user.last_name}}{% else %}{{request.user.username}}{% endif %}</h1>
<h2 class="titre">Program of the days</h2>
{% if cour_1 %}
<div class="faq-container">
  <details>
    <summary>
      <span class="faq-title">
        Morning Classes :{{cour_1.cours.nom}}
      </span>
      <img src="{%static 'images/plus.svg'%}" class="expand-icon" alt="Plus">
    </summary>        
    <div class="faq-content">
      <ul>
        <li>{{cour_1.cours.description}}</li>
        <li>Number of hours : {{cour_1.cours.nombre_heure}}h</li>
        <li> given by <i>{{cour_1.cours.prof}}<i></li>
    </ul>
    </div>
  </details>
</div>
{% else %}
<div class="faq-container">
  <details>
    <summary>
      <span class="faq-title">
        You don't have any classes this morning
      </span>
      <img src="{%static 'images/plus.svg'%}" class="expand-icon" alt="Plus">
    </summary>        
    <div class="faq-content">
    </div>
  </details>
</div>
{% endif %}
{% if cour_2 %}
<div class="faq-container">
  <details>
    <summary>
      <span class="faq-title">
        Afternoon Classes :{{cour_2.cours.nom}}
      </span>
      <img src="{%static 'images/plus.svg'%}" class="expand-icon" alt="Plus">
    </summary>        
    <div class="faq-content">
      <ul>
        <li>{{cour_2.cours.description}}</li>
        <li>Number of hours : {{cour_2.cours.nombre_heure}}h</li>
        <li> given by <i>{{cour_2.cours.prof}}<i></li>
    </ul>
    </div>
  </details>
</div>
{% else %}
<div class="faq-container">
  <details>
    <summary>
      <span class="faq-title">
        You don't have any classes this afternoon
      </span>
      <img src="{%static 'images/plus.svg'%}" class="expand-icon" alt="Plus">
    </summary>        
    <div class="faq-content">
    </div>
  </details>
</div>
{% endif %}
<h3 class="titre">Tasks</h3>
<a href="{%url 'cool:tache_create' %}"><button >ADD</button></a>
    {%for tache in taches%}
    <div class="faq-container">
      <details>
        <summary>
          <span class="faq-title">
            {{tache.nom}}
          </span>
          <img src="{%static 'images/plus.svg'%}" class="expand-icon" alt="Plus">
        </summary>        
        <div class="faq-content">
          <ul>
            <li>{{tache.description}}</li>
            <li>start : {{tache.heure_creation}}h</li>
            <li> end :{{tache.heure_fin}}</li>
            <li><a href="{%url 'cool:tache_update' tache.id %}">update</a></li>
            <li><a href="{%url 'cool:tache_delete' tache.id %}">delete</a></li>
        </ul>
        </div>
      </details>
    </div>
    {%endfor%}
<script src="{%static 'scripts.js'%}"></script>
{% endblock content %}
