<input type="checkbox" id="check">
    <label for="check"> 
        <i id="btn">
            Menu
       </i>
        <i id ="cancel">
          Cancel
        </i>

    </label>
    <div class="sidebar">
        <header class ="head">{% if request.user.last_name %}{{request.user.last_name}}{% else %}{{request.user.username}}{% endif %} </header>
        <ul class="list-1">
            <li><a href="{%url 'cool:profil'%}"><i ></i>Profile</a></li>
            <li><a href="{%url 'cool:home'%}"><i ></i>Home</a></li>
            <li><a href="{%url 'cool:horaire'%}"><i ></i>schedule</a></li>
            <li><a href="{%url 'cool:tache_create'%}"><i ></i>Create a task</a></li>
            <li><a href="{%url 'cool:logout'%}"><i ></i>Log out</a></li>
            <li><a href="/admin"><i ></i>Adminnistration</a></li>

        </ul>
    </div>